h1, p {
    background-color: darkkhaki; 

    padding: 15px; 
    border-radius: 10px; 

    display: inline-block; 

}

nav{
    height: 30px;
    padding: 15px;
    background-color: darkkhaki;

    display: flex;
    align-items: center;
    gap: 40px;
}

nav a{
    text-decoration: underline;
    color: black;
    font-size: 15px;
}

body {
    font-family: Arial, sans-serif;
}
button {
    margin-left: 10px;
    cursor: pointer;
}