#nav-bar {
    height: 95px;
    padding: 15px;
    background-color: darkkhaki;

    text-align: center;
    /* display: flex; */
    gap: 50px;
}




html {
    font-family: playfair display; 
}

.button{
    background-color: #FFFDD0;
    border: none;
    color: white;
    padding: 10px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

.button a{
    text-decoration: none;
    color: black;
    opacity: 1;
  
}

.button:hover{
    opacity: 0.6;
    transition: 0.3s;

}

.section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0;
    gap: 2rem;
  }
    
  
  .section .image img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
  }
  
  .section .text {
    flex: 1;
  }
  